{% extends 'telemed/base.html' %}
{% block title %}Send, Receive and view Medical Images Securely On The Web - TeleMed Vision{% endblock %}

{% block extra_css %}
   <link rel="stylesheet" href="../../../static/css/output.b9a4961a16f7.css">
		<link rel="stylesheet" href="../../../static/css/output.4d5edab1d566.css" type="text/css" media="screen">
	
{% endblock %}

{% block content %}
	<div class="mathree" style="background-color: #D6EAF8; padding: 20px 0;">
		<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h1>Send, receive and view Medical images in the web!</h1>
							<p style="padding-bottom:13px; font-size:20px;">Get started for free. Our basic plan gives you access
							to <a href="/whats_included">a full medical images viewing
								environment</a> already set up. You can share and view your medical images securely directly in
							your browser without having to install software or extra applications.
							</p>
							<p style="padding-bottom:13px; font-size:20px;">
							Need more features? Upgraded plans start at $5 a month.
							</p>
							<p>
								<a id="id_plans_pricing_signup_link" class="btn btn-success" href="/pricing">
									<span style="font-size:larger;">
										Start viewing medical images online in less than a minute!
									</span>
								</a>
							</p>
							<p>
								<a id="id_video_link" class="btn btn-info" style="color:white;" href="/video.html">
									<span style="font-size:larger;">
										Watch our short video
									</span>
								</a>
							</p>
							<p style="padding-bottom:13px; font-size:20px;">Not convinced?
							<a href="/about/testimonials">Read what our users are saying!</a>
							</p>
						</div>
						<div class="col-md-5">
							<img id="id_main_screenshot" src="static/images/screenshot-front-page.png" class="img-fluid" alt="A screenshot displaying the dashboard of what the website looks like">
						</div>
					</div>
				</div>
			</div>











			<!-- Section 2: Start Sending Quickly, View Anywhere (White Background) -->
			<div id="id_buttons" class="details-stripe" style="background-color: #FFFFFF; padding: 40px 0; padding-bottom: 20px;">
				<div class="container">
					<div class="row">
					
					
						<div class="col-md-3 mb-4" href="">
						
								
								<h4 class="bi bi-cloud-upload" style="copacity: 0.8;"><span style= "padding-left:5px; padding-bottom: 3px;">Start Viewing Quickly</span></h4>
							<!---</div>
							<h4>Start Sending Quickly</h4>--->
							<p>
							Just open your images. No need to install or maintain additional
							software. Everything is set up and ready to go.
							</p>
						
							<p><a class="btn btn-sm btn-outline-primary" href="#id_viewing_details" >More &#x21DD;</a></p>
						</div>
						
						
						<!---
          <div class="col-md-3 mb-4">
								
									<h4 class="bi bi-shield-lock" style=" opacity: 0.8;"> <span style="padding-left: 5px;">Maintain Confidentiality</span></h4>
							<p>
							TeleMed Vision is a fully fledged Medical Image Viewer with robust medical image
							encryption, very secure and ready to go for health care workers and researchers.
							</p>
							<p><a class="btn btn-sm btn-outline-primary">More&#x21DD;</a></p>
						</div>
						--->
						
						<div class="col-md-3 mb-4">

								<h4 class="bi bi-globe" style=" opacity: 0.8;"> <span style="padding-left: 5px;">Medical reports anywhere</span></h4>

							<p>
							Take your digital imaging environent with you!
							even when you are in a different location.
							If you have a browser and an internet connection, you have everything you need.
							</p>
							<p><a class="btn btn-sm btn-outline-primary" href="#id_reports_details">More &#x21DD;</a></p>
						</div>

						

						<div class="col-md-3 mb-4">

							<h4 class="bi bi-headset" style=" opacity: 0.8;"> <span style="padding-left: 5px;">Tech Support</span></h4>
							Looking for help with TeleMed Vision?
							Visit our help page for guides and FAQs or join the conversations on our channel to
							get advice from our medical practitioners (and the team!)
							For news and updates take a look at our blog.
							</p>
							<button class="btn btn-sm btn-outline-primary">More &#x21DD;</button>
						</div>
						
						
						
					</div>
				</div>
			</div>








			<div class="details-stripe" id="id_viewing_details"; style="padding: 40px 0;">
				<div class="container">
				
					<div class="row">
												<h1>View medical images in minutes.</h1>
					<div class="col-md-6">
						<!---<div class="col-md-8 mx-auto text-center">--->

							<p style="font-size: 18px;">
							We make a normally complicated process very simple, letting you focus on delivering
							quality healthcare services to your patients. Sending an X-ray is a <a href="#">simple process
								taking just a couple of minutes</a>. No need to install software or have complex
							hardware. No need to print out hard copies of diagnostic medical images. It just works.
							</p>
							</div>
							</div>
							
							<div class="row">
							<div class="col-md-7">
							<h2>Your Choice</h2>
							<p>We have quickstart viewers for X-rays, CT scans, MRIs, ECGs and more. We can also
							handle any other diagnostic imaging files you want to view, and it's probably viewable.
							</p>
							<p class="text-muted">Reviews will be populated here</p>
						  </div>
						  
						  <div class="col-md-5">
							<h2>Your Diagnostic Medical Images</h2>
							<p>
							Want to share your medical Images with TeleMed Vision? Our <a href="/pricing">paid accounts</a> do
							that for you. And free users don't get left out - Sending, receiving and viewing
							medical images works for everyone.
							</p>
							<h3>Easy Upgrading</h3>
							<p>
							A $5 Medic account at TeleMed Vision can support a 10 images per day sharing
							and viewing.
							</p>
							<p>
							But when your number grows and you need to share or view 100 times that with TeleMed Vision
							, we're still there... You just need to upgrade your account.
							</p>
							
							<p>
								<a id="id_reports_details" class="btn btn-success" href="/pricing">
									<span>
										Sign up and try it out &#x21DD;
									</span>
								</a>
							</p>
						</div>
						  </div>
						  
						  
						
						
						
					
				</div>
			</div>







			<div id="id_reports_details" class="details-stripe" style="background-color: #FDFEFE; padding: 40px 0;">
				<div class="container">
						
									
									

					<div class="row">

							<h1>
								Medical Image Viewing On the Web: <span id="image_counter">1200 images served!</span>
							</h1>

					</div>
					
					
					
					
					
					
					
					
					

					<div class="row">
					
					
						<div class="col-md-6">
							<p>
							TeleMed Vision makes it easy to view diagnostic medical images on the web.
							You can write reports of the images in a web based DICOM viewer or just share
							from any modern web browser.
							There is storage on our servers, and you can preserve your session state and access
							it from anywhere with no need to pay for, or use any DICOM software.
							Start work on your work desktop and later pick up from where you left off by
							accessing the same session from your laptop.
							</p>

							
							<p>
								<a id="id_reports_details" class="btn btn-success" href="/pricing">
									<span>
										Sign up and try it out &#x21DD;
									</span>
								</a>
							</p>
							
							
						</div>
						
						
						<div class="col-md-6">
							<p class="text-muted">Reviews will be populated here</p>
						</div>
					
					
					
				</div>
		


			<!--- <div class="details-stripe" style="background-color: #AED6F1; padding: 60px 0;">
				<div class="container">--->
				
				
				
				
					<div class="row">
						<div class="col-md-5 mb-4">
							<h2>Intelligence included</h2>
							<p>
							With AI models like Deepseek, chatGPT and KimiK, and all the smart features
							you get from these models, you can automatically generate
							medical reports, and many more. Check out our full list of <a href="#">Intelligence included</a>.
							</p>

							<h1 class="mt-1">End-to-end encryption</h1>
							<p>
							TeleMed Vision is featured with a novel Image-To-Image encryption-decryption
							technology and you can take advantage of that without paying a bob. You can securely
							 share sensitive Medical images containing confidential patient information,
							 preventing unauthorized people from viewing your patient's medical information.
							 For large number of image sharing, you only pay for how much you share, and
							 images can be automatically compressed down so you can quickly share terrabytes of
							 images without needing to explain yourself to the internet company.
							</p>
						</div>

						<div class="col-md-7 mb-4">
							<h2>Write medical imaging reports on the go</h2>
							<p>It's hard to write medical imaging reports on the go. Because TeleMed Vision
							runs on our servers and displays in your web browser, you can write reports from your
							phone, iPad, or smart TV just as easy as you can on your computer.
							</p>
<a>
							<div class="text-center my-4">
								<img width="200"src="static/images/phone-screenshot.png" alt="TeleMed Vision running on phone" class="img-fluid" style="float:right; margin:10px;">
								<!-- Image will float between divs on the right -->
							</div>
</a>
							<h2 class="mt-3">Your files, everywhere</h2>
							<p>
							It's easy to get your medical stuff into and out of TeleMed Vision: You can
							upload and download files from our website, or send diagnostic images to any hospital, doctor or expert
							for consultation and referral. With 512MB of free disc space, you don't need to worry about running out of
							space. And <a href="/pricing">paying users</a> can get more space, transfer more files and view many medical images.
							</p>

							<h2 class="mt-4">Simple automation</h2>
							<p>
							Use TeleMed Vision report generator to generate reports for your medical images. Write smart reports,
							get insights on the management of the medical conditions, learn... the choice is yours.
							</p>
						</div>
						
					</div>
				</div>
				
				
				
				
		





	<!---<<div class="details-stripe" id="id_viewing_details"; style="padding: 40px 0;">
				<div class="container">--->


			<div class="details-stripe" id="id_education_details" style="padding: 40px 0;">
				<div class="container">
				
				
					<h1 class=" mb-2">A Radiology learning environment with everything ready to go.</h1>

					<div class="row mb-2">
						<div class="col-md-7">
							<p>Radiology is a great profession to teach, but getting all the software installed
							and setup on all your students computers can be less than easy. TeleMed Vision
							provides an environment that is ready to go - including software similar to computer
							DICOM viewer applications, and a full set of <a href="#">intelligence included</a>. Avoid all the
							hassles of getting programs installed on everyone's laptops, and making sure everyone
							 can install the correct software.
							</p>
														<img style="max-height: 150px; min-width:100%; padding: 5px; border: solid 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)" src="static/images/teacher-environment.jpg" alt="An image of teacher environment" class="">
								<h3>Distributing assignments and monitoring progress is easy.</h3>
							<p>Once a student has nominated you as a teacher, you can see their medical images
							 and their reports, so you can help them more easily. You can copy medical images into
							 their accounts so you can give them a starting point for their assignments, and
							 you can also see their medical reports.
							</p>
							<p>
							We can also create student accounts in bulk for you, and pre-populate them with files
							and reports that you provide. (Just let us know)
							</p>

							<h3 class="mt-4">All your students have the same environment.</h3>
							<p>
							The same operating system, the same image viewing software - save yourself from having
							to look for software and hardware or even real medical imaging equipments.
							</p>

							<h3 class="mt-4">...and they can work together</h3>
							<p>
							Your students can choose to share reports with each other, too - so they can work on
							group projects remotely, or help each other in class.
							</p>
						
						</div>
						<div class="col-md-5">
							<p class="text-muted">Reviews will be populated here</p>
							

							<p>
								<a id="id_reports_details" class="btn btn-success" href="/pricing">
									<span>
										Sign up and try it out &#x21DD;
									</span>
								</a>
								</p>
								
								<p>
								<a id="id_video_link" class="btn btn-info" style="color:white;" href="#">
									<span style="">
										TeleMed Vision education help page
									</span>
								</a>
							</p>

							<h3>Start work at work or school, and continue at home.</h3>
							<p>
							Because TeleMed Vision is web based, it can follow you around on any computer
							(or iPad, or Chromebook) with a browser, so you and your students can work from
							wherever you like.
							</p>

							<h3 class="mt-4">What does it cost?</h3>
							<p>
							It's free! Our basic accounts are free, and we only charge for advanced services like
							professional radiologists, healthcare organizations or research institutions, or
							big number-crunching requirements.
							</p>
							<p>
							If you need larger amounts of sharing or viewing power, then <a href="#">get in touch</a>. You can also
							get an idea of our prices on <a href="/pricing">the price page</a>.
							</p>

							<h3 class="mt-4">Limitations</h3>
							<p>
							Our education support is evolving rapidly, and there are a few limitations right now.
							Check out this <a href="#">help page</a> for the current list.
							
						</div>
					</div>
							
						</div>
					</div>
				

{% endblock %}
